.footer{
    background-color: #21242D;
    justify-self: center;
    position: center;
    align-self: center;
    text-align: center;
    justify-content: center;
}

.first_section{
    display: grid;
    grid-template-columns: max-content auto;
    padding-bottom: 28px;
}

.firstCol{
    display: flex;
    flex-direction: column;
    padding-left: 321px;
    text-align: left;
    color: #FCFFFD;
}

.firstCol p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;

}

.firstCol span:nth-child(2){
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.03em;
}

.newsletter input{
    background-color:#FCFFFD; 
    width: 691px;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    
}

.newsletter button{
    width: 101px;
    height: 45px; 
    border-radius: 0px 5px 5px 0px;
    background-color: #F5C249;  
}

.newsletter span{
    font-size: 13px;
}

.footerFirst_img{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    Width:20.94px;
    Height:19.53px;
    padding-top:12.13px;
    margin-block:12.84px;
    align-self: center;
    padding-left: 91px;
}

.second_section{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: 55px;
    grid-column-gap: 10px;
    row-gap: 10px;
}

.second_section span{
    padding-bottom: 20px;
}

.secondCol_1{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.secondCol_2,
.secondCol_3,
.secondCol_4
{
    display: flex;
    flex-direction: column;
    width: inherit;
    text-align: left;
    
}

.secondCol_5{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.second_section span{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FCFFFD;
}

.second_section h4{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FCFFFD;
}

.footer hr{
    margin-left: 55px;
    margin-right: 55px;
    height: 5px;
    border: 1px;
    background: #C6EB2A;
    margin-top: 1rem;
}

.third_section{
    display: grid;
    grid-template-columns: auto auto auto;
}

.join{
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    align-items: flex-start;
    padding-left: 55px;
}

 .social_image{
    display: flex;
    width: 18px; 
    height: 10px;
    row-gap: 2rem;
    gap: 10px;
} 

.pay,
.deliver{
    display: flex;
    flex-direction: column;
    width: inherit;
}


.third_section span{
    padding-bottom: 20px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FCFFFD;
}
