.welcome{
    background: black;
    width: 1440px;
    height: 1024px;
    justify-self: center;
    position: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    
}

.sk {
    border: none;
    margin-top: 2rem;
    padding: 0.5rem;
    color: #f9fd0a;
    font-size: 20px;
    background-color: black;

}

.tok{
    color: #f7b928;
    font-size: 48px;
    text-align: left;
    text-shadow: 1rem;
    padding-left: 2rem;
    text-transform: uppercase;
    
}

._Acct{
    width: 50%;
    background-color: #F5C249;
    border-radius: 1rem;
    margin: 2rem 2rem;
}

._acct{
    color: black;
}

.Acct {
    width: 50%;
    background-color: black;
    border-radius: 1rem;
    border-color: #F5C249;
}

.acct {
    color: #F5C249;
    font-weight: bold; 
}